.addProduct {
  position: sticky;
  top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 332px;
  width: 100%;
  height: 440px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    background: #fffefb;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
      0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__submitButton {
    width: 100%;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: #7bae73;
    padding: 10px;

    &:disabled {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      color: #b4b4b4;
      background: #eeeeee;
      cursor: default;
    }
  }

  @media screen and (max-width: 550px) {
    position: static;
  }
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__label {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: #49485e;

    &_required {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: #ff8484;
        border-radius: 4px;
      }
    }
  }

  &__input {
    max-width: 284px;
    width: 100%;
    height: 35px;
    padding: 10px 15px;
    background: #fffefb;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 15px;

    &::placeholder {
      color: #b4b4b4;
    }
  }

  &__textarea {
    height: 108px;
  }

  &__error-message {
    position: absolute;
    bottom: -14px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #ff8484;
  }
}
