.sort {
  &__select {
    font-size: 12px;
    line-height: 15px;
    color: #b4b4b4;
    width: 125px;
    height: 36px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0 15px;
    background: #fffefb;
  }
}
